<h2><%= Here You Are %></h2>
  <h3>First Name: </h3>
  <p><%= current_user.first_name %>
  <h3>Last Name: </h3>
  <%= current_user.last_name %>
  <h3>Email Address: </h3>
  <%= current_user.email %>
  <h3>Age: </h3>
  <%= current_user.age %>
  <h3>Sex: </h3>
  <%= current_user.sex %>
  <h3>Relationship Status: </h3>
  <%= current_user.status %>
  <h3>Title: </h3>
  <%= current_user.title %>
  <h3>About Me: </h3>
  <%= current_user.body %></p>

  <%= button_to 'Edit Profile', edit_user_registration_path(current_user), method: :get %>
  <%= button_to 'Edit Interests', edit_interest_path(current_user), method: :get %>