<div class="input-field">
<%= form_for @interest do |f| %>
  <h4>Who do you want to chill with?</h4>
  <%= f.radio_button :interested_in, 'male', name: 'interested_in' %>  
  <%= f.label 'male', :value => 'male' %>
  <br />
  <%= f.radio_button :interested_in, 'female', name: 'interested_in' %>  
  <%= f.label 'female', :value => 'female' %>
  <br />
  <%= f.radio_button :interested_in, 'both', name: 'interested_in' %>  
  <%= f.label 'both', :value => 'both' %>
  <br />
  <h4>What do you prefer?</h4>
  <%= f.check_box :cats, :id => 'cats' %>
  <%= f.label :cats, :for => 'cats' %>
  <br />
  <%= f.check_box :dogs, :id => 'dogs' %>
  <%= f.label :dogs, :for => 'dogs' %>
  <br />
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <br />
  <%= f.submit class: 'btn' %>
<% end %>
</div>
